.Footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    color: rgba(0,0,0,.54);
}
footer a {
    color: inherit;
    text-decoration: inherit;
}

footer p {
    flex: 1;
    text-align: center;
}